@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

.admin {
    background-color: rgb(0, 0, 0);
}

.admin-inner {
    display: flex;
    
    background-color: rgb(222, 192, 255);
    margin: 0.5%;

}

.admin-sidebar {
    flex: 1;

    background-color: rgb(26, 26, 26);
    
    border-right: rgb(0, 0, 0) solid 15px;

    color: rgb(255, 255, 255);
}

.admin-canvas {
    flex: 4;
    background-color: rgb(255, 255, 239);
}

.admin-canvas-inner {
    margin: 2.5%;
}

.admin-sidebar h1 {
    padding: 10px 0 10px 0;

    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    letter-spacing: 10px;
    
    text-align: center;
}

.admin-sidebar ul {
    margin: 5% 0 5% 0;
}

.admin-sidebar ul li {
    background-color: rgb(29, 29, 29);

    margin: 7.5px 0 7.5px 0;

    color: rgb(255, 255, 255);
    
    font-family: 'Cairo', sans-serif;
    font-size: 2em;

    border-right: rgb(255, 99, 71) solid 10px;

    padding-left: 25px;
}

.admin-sidebar ul li:hover {
    border-right: rgb(191, 255, 71) solid 10px;
    
    color: rgb(245, 245, 220);
    font-weight: bold;

    cursor: pointer;
}

.admin-canvas h1 {
    margin-bottom: 25px;
}










.admin-dashboard-header {
    display: flex;

    flex-direction: row;     
    align-items: center;
}

#admin-dashboard-header-title {
    flex: 1;
    color: rgb(0, 0, 0);
    
    font-size: 4em;
    font-family: 'Bebas Neue';

    letter-spacing: 7.5px;
}

.dashboard-stats {
    display: flex;
    flex-direction: row;

    margin-top: 1.5%;
    
    color: rgb(255, 255, 255);
}

.stats-amount {
    display: flex;
}

.stats-amount h1 {
    flex: 1;
    font-family: 'Bebas Neue', cursive;
    font-size: 6em;

    color: rgb(255, 255, 255);
}

.stats-amount img {
    flex: 1;
    max-width: 50px;
    text-align: right;
}

.stats-title {
    font-family: 'Courier New';
    font-size: 1.5em;

    color: rgb(245, 245, 220);
}

.stats-earnings {
    height: 250px;

    border-radius: 15px;
    background-color: rgb(95, 172, 207);

    margin: 5px;
    margin-top: 1.5%;
    padding: 15px;


}

.stats-totals {
    display: flex;
    flex-wrap: wrap;

    margin-top: 1.5%;

}

.stats-total {
    flex: 1;
    
    margin: 5px;
    height: 250px;

    border-radius: 15px;

    background-color: rgb(233, 128, 128);
}









.user-message {
    display: flex;
    
    height: 50px;
    background-color: rgb(38, 163, 121);

    border: black solid 2px;
    border-radius: 15px;

    padding: 15px;
    margin-top: 25px;
}

#user-message-name {
    flex: 1;
    border-right: rgb(0, 0, 0), solid, ;
}

#user-message-overview {
    flex: 4;
}





.audit-log {
    display: flex;
    
    height: 50px;
    background-color: rgb(38, 163, 121);

    border: black solid 2px;
    border-radius: 15px;

    padding: 15px;
    margin-top: 10px;
}

#audit-log-name {
    flex: 1;
    border-right: rgb(0, 0, 0), solid, ;
}

#audit-log-overview {
    flex: 4;
    color: white;
    font-weight: bold;
}

#audit-log-date {
    flex: 1;
}



@media (max-width: 1400px) {
    .dashboard-stats {
        flex-direction: column;
    }
}