@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

.authentication {
    flex: 1;

    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../resources/background.png");
}

.auth-box {
    transition: 500ms;

    display: flex;
    flex-direction: column;
    
    position: relative;

    height: 500px;

    margin: 20%;
    margin-bottom: 9%;
    margin-top: 7.5%;

    border-radius: 10px;

    background-size: cover;
    background-repeat: no-repeat;
}

.auth-box:hover {
    transition: 500ms;
    
    transform: scale(1.05);
}

.auth-title {
    flex: 1;

    margin-top: 5%;

    color: #ffffff;
    font-family: 'Titan One', cursive;
    
    text-shadow: 0 0 20px #fffb00;
    text-align: center;


    font-size: 3em;
}

.auth-box form {
    flex: 3;

    height: 100px;

    justify-content: center;

    text-align: center;
    
}
.auth-box form input {
    flex: 1;
    
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
    
    background-color: #e0e0e03F;
    
    border: none;
    border-radius: 20px;

    border-bottom: solid 5px #8a2be2;
    
    color: #cecece;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;

    text-align: center;
}

.auth-box form input:focus {
    color: #ffffff;
}

.auth-box form input:hover {
    cursor: pointer;
}

.auth-box form button {
    transition: 500ms;
    
    margin-bottom: 50px;
    
    background-color: #cecece;
    border: none;

    border-radius: 5px;

    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;

    color: #4b4b4b;
    
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
}

.auth-box form button:hover {
    transition: 500ms;
    transform: scale(1.1);

    background-color: #faebd7;

    cursor: pointer;
    
}

.auth-box form a {
    color: #ffffff;

    text-decoration: underline;
    font-family: 'Nanum Gothic Coding', monospace;
}