@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

.user {
    background-color: rgb(0, 0, 0);
}

.user-inner {
    display: flex;
    
    background-color: rgb(222, 192, 255);
    margin: 0.5%;

}

.user-sidebar {
    flex: 1;

    background-color: rgb(26, 26, 26);
    
    border-right: rgb(0, 0, 0) solid 15px;

    color: rgb(255, 255, 255);
}

.user-sidebar ul {
    margin: 5% 0 5% 0;
}

.user-sidebar ul li {
    background-color: rgb(29, 29, 29);

    margin: 7.5px 0 7.5px 0;

    color: rgb(255, 255, 255);
    
    font-family: 'Cairo', sans-serif;
    font-size: 2em;

    border-right: rgb(255, 99, 71) solid 10px;

    padding-left: 25px;
}

.user-sidebar ul li:hover {
    border-right: rgb(191, 255, 71) solid 10px;
    
    color: rgb(245, 245, 220);
    font-weight: bold;
}

.user-canvas {
    flex: 4;
    background-color: rgb(255, 255, 239);
}

.user-canvas-inner {
    margin: 2.5%;
}

.user-sidebar h1 {
    padding: 10px 0 10px 0;

    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    letter-spacing: 10px;
    
    text-align: center;
}